# IntelliJ project files
.idea
*.iml
out
gen


# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Project exclude paths
/*/target/
/*/out/

#Other
lib
logs



